[submodule "translator"]
	path = translator
	url = https://github.com/jfcordovam/translator_tools.git
[submodule "d3js"]
	path = d3js
	url = https://github.com/jfcordovam/d3js-game-of-life.git
[submodule "d3_sunburst"]
	path = d3_sunburst
	url = https://github.com/jfcordovam/d3_sunburst.git
[submodule "germany_map"]
	path = germany_map_d3
	url = https://github.com/jfcordovam/germany_map_d3
